.paper {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar {
    margin: 8px;
    background-color: #3f51b5 !important;
}
.form {
    width: 100%;
    margin-top: 24px;
}
.submit {
    margin: 16px 0 16px !important;
}

.link {
    justify-content: center;
}